.demo_changer{ 
    z-index: 900; 
    position: fixed;
    right: -200px;
    top: 100px; 
}


.line {
    border-bottom: 1px solid #F6F5F2;
    clear: both;
    margin: 20px !important;
}

.demo_changer .demo-icon{
    background: url(color.png) no-repeat scroll 14px 8px #ffffff;
    border-radius: 40px 0 0 40px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    float: left;
    height: 50px;
    width: 50px;
}

.demo_changer .form_holder {
    background-color: #ffffff;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    float: left;
    width: 200px;
}

.demo_changer .form_holder p{
    padding:0 20px;
    font-size: 11px;
}

.demo_changer .form_holder input{
    width: 55px;
	border-radius: 0 10px 10px 0;
	box-shadow: none;
}

.demo_changer .form_holder form{
    padding: 0 20px;
}

.color_display{
	border-radius: 10px 0 0 10px;
    height: 32px;
    width: 30px;
    float: left;
    background-image:url(colorpicker.png);
    background-repeat: no-repeat;
    background-position: center;
}

.apply{
	text-decoration: none;
	font-size: 11px;
	
}

.apply:hover{
	color: #999EC9;
}

.color_display_2 {
   clear: both;
    color: #FFFFFF;
    display: inline-block;
    font-size: 12px;
    margin-bottom: 7px;
    padding: 4px 10px;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    width: 58px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 2px rgba(255, 255, 255, 0.3) inset, 0 1px 2px rgba(0, 0, 0, 0.29);
    width: 58px;
}

.color_display_2 a{
    color: #fff;
    text-decoration: none;
}

.color_display_2 a:focus,
.color_display_2 a:hover {
    color: #ededed !important;
    text-decoration: none;
}


.predefined_styles{
    padding:0 20px;
}



@media only screen and (max-width: 1024px) {
.demo_changer{
    display: none;
}
} 



